h3{
    color: #dbb4ad;
   
   background-color: #d30c7b ;
   padding: 18px;
   border-radius: 15px;
}
body{
    background-color: #f7e8e5;
}



.verde{
    background-color: #AEB49C;
    border-radius: 15px;
    padding: 10px;
    color: #3a2d32;
    margin: 3px;
    display:block;
}
h6{
    background-color: #f7e8e5;
    margin: 1px;
    padding: 5px;
    display: inline;
    border-radius: 3px;
    color: #3a2d32;

}

.verdeDireita{
    text-align: right;
    
}


.header{

    margin: 150 50px ;
    text-align: center;
}

.center{
   /* display: flex;
    justify-content: center;
    flex-flow: column; 
    align-items: center;
    ;
 */
    top:50%;
    left:100%;
   
    margin-left:45%;
    padding: 5px;
      
}





/* 
#d30c7b
#ffe3dc
#dbb4ad
#a2ad91
#3a2d32
*/